/* body{
    background-color: #d8f3dc;
} */

.normal-button{
    background-color: #003566;
    border: 1px solid #003566;
    border-radius: 6px;

    color: #FFFFFF;

    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    /* height: 70px; */

    margin: 3px 5px;
    padding: 9px 9px;
    text-align: center;
    vertical-align: middle;
}

    .normal-button-hover:hover,
    .normal-button-hover:active {
    background-color: initial;
    color: #003566;
    }

    .normal-button:active {
        opacity: .5;
    }

body{
    font-family: "Montserrat", sans-serif;

}

h1,
h2 {
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 3em;
    color: #023e8a;
}

h2 {
    font-weight: 200;
    font-size: 1.25em;
}

h2 a{
    color: #00b4d8;
    font-weight: 300;
}

h2 a:hover{
    background-color: #caf0f8;
}
table {

    margin: 50px auto;
    width : 80%;
    display: table;
}

th{
    font-weight: 500;
    font-size: 1em;
}

tbody tr:nth-child(odd){
    background-color: #fae1dd;
    
}

tbody tr:nth-child(even){
    background-color: #f8edeb;
    
}


tbody td{
    padding: 2%;
    text-align: center;
}
